@import 'variabels';


.Clickable {
  
  width: 100px;
  height: 100px;
  border-radius: 200px;

  background-color: $yes-color;
  color: white;
}

/* när två knappar*/
.button_container_two{
  display:flex;
  align-content: space-evenly;
  flex-direction:row;

}