@import 'variabels';

.ClickWrapper{
  width: 70px;
  height: 140px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Clickable {
  width: 8vw;
  height: 8vw;
  border-radius: 100px;

  color: white;
  cursor: pointer;

  //background-image: url(../svg/Buttons/button_ground.svg) ;
  //background-color: $text-color;*/
}

.button_container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.no_button{
    background-color: $no-color;
  }

.yes_button{
    background-color: $yes-color;
}

.small_button{
	  width: 40px;
	  height: 40px;
	  border-radius: 100px;
    border:0 none;
	  background-color: $no-color;
	  color: white;
}

.homeButton{
  background: url(../svg/Buttons/button_home.svg) no-repeat;
  //background-size: 40px 40px;
  width: 8vw;
  height: 8vh;
  display: inline-flex;
}

.addButton {
  background-color: #2a2a2a;
    background: url(../svg/Buttons/button_add.svg) no-repeat;
    width: 8vw;
    height: 8vh;
    display: inline-flex;
}

.pauseButton {
  background: url(../svg/Buttons/button_pause.svg) no-repeat;
  width: 10vw;
  height: 10vh;
  display: inline-flex;

}

.deleteButton {
  background: url(../svg/Buttons/button_delete.svg) no-repeat;
  width: 8vw;
  height: 8vh;
  display: inline-flex;

}

.backButton {
  background: url(../svg/Buttons/button_back.svg) no-repeat;
  width: 8vw;
  height: 8vh;
  display: inline-flex;
}

.timerButton {
    background: url(../svg/Buttons/button_timer.svg) no-repeat;
    width: 8vw;
    height: 8vh;
    display: inline-flex;
}

.stopButton{
  background: url(../svg/Buttons/button_stop.svg) no-repeat;
  width: 10vw;
  height: 10vh;
  display: inline-flex;
}

.playButton {
  background: url(../svg/Buttons/button_play.svg) no-repeat;
  width: 10vw;
  height: 10vh;
  display: inline-flex;
}
