@import 'variabels';

.ClickWrapper{
 /*
  width: 70px;
  height: 140px;
*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .right-absolute {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
}

.Clickable {
@include buttonSettings;
  border-radius: 100px;
 

  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 7px lighten($text-color, 15);
}

.button_container{
  display: flex;
  flex-direction: row;
  

  &.stat_buttons{
    
    position: absolute;
    padding-left: 15vw !important;
   

    >div{
      padding: 2%;
    }
  }
}

.no_button{
    background-color: $no-color;
  }

.yes_button{
    background-color: $yes-color;
}

.small_button{
	  width: 40px;
	  height: 40px;
	  border-radius: 100px;
    border:0 none;
	  background-color: $no-color;
	  color: white;
}

.homeButton{
  background: url(../svg/Buttons/button_back_blue.svg) no-repeat;
  @include buttonSettings;
}

.addButton {
  background: url(../svg/Buttons/button_add.svg) no-repeat;
  @include buttonSettings;
  
}

.pauseButton {
  background: url(../svg/Buttons/button_pause.svg) no-repeat;
  @include buttonSettings;

}

.deleteButton {
  background: url(../svg/Buttons/button_delete.svg) no-repeat;
  @include buttonSettings;

}

.backButton {
  background: url(../svg/Buttons/button_back.svg) no-repeat;
  @include buttonSettings;

    &.blue {
      background: url(../svg/Buttons/button_back_blue.svg) no-repeat;
    }
}

.timerButton {
  background: url(../svg/Buttons/button_timer.svg) no-repeat;
  @include buttonSettings;
 }

.stopButton{
  background: url(../svg/Buttons/button_stop.svg) no-repeat;
  @include buttonSettings;
}

.playButton {
  background: url(../svg/Buttons/button_play.svg) no-repeat;
  @include buttonSettings;
}

.timerButtonDisabled {
    background: url(../svg/Buttons/button_timer_disabled.svg) no-repeat;
  @include buttonSettings;
  cursor: default;
}

.addButtonDisabled {
  background: url(../svg/Buttons/button_add_disabled.svg) no-repeat;
  @include buttonSettings;
  cursor: default;
}

.mountainSelection {
  @include buttonSettings;
}