@import 'variabels';
@import 'button';
@import 'timer';
@import 'swal';

body {
	height: 100vh;
	background-color: $grass-color;
}

html {
	#root {
		font: 100% $texttesttest-font;
		color: lighten($text-color, 10);

		.page_container {
			height: 100%;
			width: 100%;

			display: flex;
			flex-direction: column;
			align-content: space-between;

			text-align: center;

			> div {
				background-color: $grass-color;
			}

			#title {
				font-size: 45px;
			}

			&.timer {
				background-color: $sky-color;
			}

			.header {
				padding-top: 20px;
				width: 100%;
				height: 25vw;

				background-color: $sky-color;
				background-image: url(../svg/berg.svg);
				background-repeat: no-repeat;
				background-position: center bottom;

				.hills {
					background-image: url(../svg/kullar.svg);
					background-repeat: no-repeat;
					background-size: cover;

					width: 100%;
					height: 10vw;

					position: absolute;
					top: 22vw;
				}
				.forest_container {
					position: absolute;
					top: 27vw;

					width: 100%;

					display: flex;
					justify-content: space-between;

					.forest {
						background-repeat: no-repeat;

						width: 20vw;
						height: 20vw;
						z-index: 1;
						
						& {
							@media (min-width: 800px) {
								width: 160px;
								height: 160px;
							}
						}
						

						&.left {
							background-image: url(../svg/trad_v.svg);
						}

						&.right {
							background-image: url(../svg/trad_h.svg);
						}
					}
				}
			}

			.view_container {
				padding: 0 5vw;
				margin-top: 10vw;
			}
		}
	}
}

.list {

	> div {
		margin: 0 5vw 60px 5vw;
		background-color: $box-color;
		border-radius: $corner-roundness;
		box-shadow: 1px 1px 7px lighten($text-color, 15);
	}

	&.progress {
		> div {
			padding: 8px;
		}
	}
}

.has_subcomponent {
	div:not(.hidden):not(.Clickable):not(.mountain_climber_container):not(.button_container):not(.ClickWrapper):not(.mountain_position):not(.deleteButton):not(.backButton):not(.mountainSelection):not(.timer_setup):not(.timer_center){
		padding: 10px;
		background-color: $box-color;

		& {
			@media (max-width: 420px) {
				height: 100%;
			}
		}
	}
}


.timer_center{
	
	display: flex;
	justify-content: center;

	width: 100%;
	height: 40vh;

	>div{
		display: inherit;
		justify-content: inherit;
	}

}

.timer_setup{
	display:flex;
	flex-direction: row;

	>div{
		flex-direction: column;
		background-color: lighten($box-color, 7) !important;

		&:first-child {
			border-radius: $corner-roundness 0 0 $corner-roundness;
		}

		&:last-child {
			border-radius: 0 $corner-roundness $corner-roundness 0;
		}
	}

	label{
		display: block;
	}
	
	input[type=number]{
		background-color: lighten($box-color, 7);
		border-bottom: solid lighten($text-color,30);
		text-align: center;
		&:focus{
			outline: none;
		}
	}

}


.fixed {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;

	&.center_on_page {
		height: 100vh;
		justify-content: center;
	}

	&.as_row {
		flex-direction: row;
		justify-content: space-around;
	}
}

.mountain_climber_container {
	position: absolute;

		flex-direction:column;
		align-content: space-evenly;

		width: 400px;
		height: 600px;
}

.mountain_position {
    position: absolute;
}

.home_image_conatiner {
	background-image:url(../svg/homepagedown.svg);

	background-size:cover;

	width: 450px;
	height:500px;

	justify-content:center;
	display:flex;
}

.stat_image_conatiner {
	background-image:url(../svg/statcomp.svg);
	background-size:cover;

	justify-content:center;
	display:flex;
	flex-direction:column;

	width: 400px;
	height:600px;
}

.mini_image_conatiner {
	background-image:url(../svg/minimount.svg);
	background-size:cover;

	width: 100px;
	height:120px;

	justify-content:center;
	display:flex;
	flex-direction:column;
}

.bottom_container {
	position: fixed;

    bottom: 20px;
}

/*icon för slutdatum*/
.date {
	content: url(../svg/icon_date.svg);
	display: inline-block;
}
.time {
	content: url(../svg/icon_time.svg);
	display: inline-block;
}
.goal {
	content: url(../svg/icon_goal.svg);
	display: inline-block;
}


input[type=submit] {
	border-radius: 100px;
	border:0 none;

	background:url(../svg/Buttons/button_accept.svg) no-repeat;

	font: inherit;
	color:$text-color;
	cursor: pointer;

	width: 10vw;
	height: 10vh;

	position: absolute;
	bottom: 10px;
	left:44vw;
}

input[disabled]{
	background: url(../svg/Buttons/button_accept_disabled.svg) no-repeat;
	cursor: default;
}

input[type=text] {
	border:0 none;
	color:$text-color;

	width: 200px;
	height:50px;
	margin:10px;

	font-size: 40px;
	background-color: $input-box-color;
}

input[type=number] {
	border:0 none;
	width: 80px;
	height:50px;
	margin:10px;

	font-size: 40px;
	color:$text-color;
		background-color: $input-box-color;
}

input[type=date]{
	border:0 none;
	color:$text-color;
	background-color: $input-box-color;

	width: 200px;
	height: 30px;
	margin: 10px;

	text-align: center;
}

.as_column {
	display: flex;
	flex-direction: column;
	align-items: center;

	flex-direction: column;
	justify-content: space-around;
}
