@import 'variabels';
@import 'button';
@import 'timer';
@import 'swal';

html {
	#root {
		font: 100% $texttesttest-font;
		color: $text-color;

		.page_container {
			height: 100%;
			width: 100%;

			display: flex;
			flex-direction: column;
			align-content: space-between;

			text-align: center;

			background-color: $grass-color;

			&.timer {
				background-color: $sky-color;
			}

			.view_container {
				padding: 0 40px;
			}
		}
	}
}

.list {
	> div {
		margin: 0 80px 60px 80px;
		background-color: $box-color;
		border-radius: $corner-roundness;
	}
}

.has_subcomponent {
	div:not(.hidden):not(.Clickable):not(.mountain_climber_container):not(.button_container):not(.ClickWrapper):not(.mountain_position):not(.deleteButton):not(.backButton):not(.mountainSelection){
		padding: 10px;
		background-color: $box-color;
	}
}

.fixed {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;

	&.center_on_page {
		height: 100vh;
		justify-content: center;
	}

	&.as_row {
		flex-direction: row;
		justify-content: space-around;
	}
}

.mountain_climber_container {
	position: absolute;

		flex-direction:column;
		align-content: space-evenly;

		width: 400px;
		height: 600px;
}

.mountain_position {
    position: absolute;
}

.home_image_conatiner {
	background-image:url(../svg/homepagedown.svg);

	background-size:cover;

	width: 450px;
	height:500px;

	justify-content:center;
	display:flex;
}

.stat_image_conatiner {
	background-image:url(../svg/statcomp.svg);
	background-size:cover;

	justify-content:center;
	display:flex;
	flex-direction:column;

	width: 400px;
	height:600px;
}

.mini_image_conatiner {
	background-image:url(../svg/minimount.svg);
	background-size:cover;

	width: 100px;
	height:120px;

	justify-content:center;
	display:flex;
	flex-direction:column;
}

.bottom_container {
	position: fixed;

    bottom: 20px;
}

/*icon för slutdatum*/
.date {
	content: url(../svg/icon_date.svg);
	display: inline-block;
}
.time {
	content: url(../svg/icon_time.svg);
	display: inline-block;
}
.goal {
	content: url(../svg/icon_goal.svg);
	display: inline-block;
}


input[type=submit] {
	border-radius: 100px;
	border:0 none;

	background:url(../svg/Buttons/button_accept.svg) no-repeat;

	font: inherit;
	color:$text-color;
	cursor: pointer;

	width: 10vw;
	height: 10vh;
}

input[disabled]{
	background: url(../svg/Buttons/button_accept_disabled.svg) no-repeat;
	cursor: default;
}

input[type=text] {
	border:0 none;
	color:$text-color;
	height:30px;
	background-color: $input-box-color;
}

input[type=number] {
	border:0 none;
	width: 80px;
	height:50px;
	margin:10px;

	font-size: 40px;
	color:$text-color;
		background-color: $input-box-color;
}

input[type=date]{
		background-color: $input-box-color;
}
