@import 'variabels';

.swal-modal {
  background-color: $box-color;
  color: $text-color;
}
.swal-button{
  color: black;
 // border: 2px solid black;
  border-radius: 2px;
  border-radius: $corner-roundness;
}

.swal-button--confirm {
background-color: $yes-color;
}

.swal-button--cancel{
 background-color: $no-color;
}

.swalEraseMountain {
  font-style: $texttesttest-font;
}

.swal_timer {
  .swal-button{
    background-color: $input-box-color;
  }
}
