@import 'variabels';
@import 'button';

.timer_box {
	display: flex;
	align-items: center;
	justify-content: center;

	&:first-child div {
		width: 100%;
	}
}

.progress_bar {
	background: #F3EFBE;

	position: relative;

	height: 30px;
	width: 100%;

	overflow: hidden;
	border-radius: $corner-roundness $corner-roundness $corner-roundness $corner-roundness;

		.filler {
			height:100%;
			transition: all 1s linear;
		}
}

.timer_center{
	
	display: flex;
	justify-content: center;

	width: 100%;
	height: 40vh;

	>div{
		display: inherit;
		justify-content: inherit;
	}

}

.timer_setup{
	display:flex;
	flex-direction: row;

	>div{
		flex-direction: column;
		background-color: lighten($box-color, 7) !important;

		&:first-child {
			border-radius: $corner-roundness 0 0 $corner-roundness;
		}

		&:last-child {
			border-radius: 0 $corner-roundness $corner-roundness 0;
		}
	}

	label{
		display: block;
	}
	
	input[type=number]{
		background-color: lighten($box-color, 7);
		border-bottom: solid lighten($text-color,30);
		text-align: center;
		&:focus{
			outline: none;
		}
	}

}

