@import 'variabels';
@import 'button';

.timer_box {
	display: flex;
	align-items: center;
	justify-content: center;

	&:first-child div {
		width: 100%;
	}
}

.progress_bar {
	background: #F3EFBE;

	position: relative;

	height: 30px;
	width: 100%;

	overflow: hidden;
	border-radius: $corner-roundness $corner-roundness $corner-roundness $corner-roundness;

		.filler {
			height:100%;
			transition: all 1s linear;
		}
}