//Fonts
$font-stack:    Helvetica, sans-serif;
$texttest-font:    Andale Mono;
$texttesttest-font:    Futura;

//Färger
$primary-color: #333;
$grass-color: #A3BC3D; // gräs
$sky-color: #BCDEEF; //himmel
$snow-color: #FFFFFF; // snö
$mountain_l-color: #92B5CB; //berg 
$mountain_s-color: #88A7BC; // berg skugga
$box-color: #F3EFBE; // bakgrunds färg till boxar där man kan ställa in saker
$yes-color: #1CCC21; // knapp färg för ja, gå vidare, positivt
$no-color: #E52823; // knapp färg för nej, avbryt
$text-color: #867B6E; //färg för allmän text

//Ämnes färger
$a-color: #5A999D; 
$c-color: #D17B6E; 
$d-color: #868D6E; 
$f-color: #AD7B98; 
$g-color: #78B0E8; 
$h-color: #D498CF; 
$i-color: #91BE7B; 
$j-color: #76639A; 
$k-color: #5360A5; 
$l-color: #5360A5; 

body {
  font: 100% $texttesttest-font;
  color: $text-color;
  background-color: $sky-color; 
}



