@charset "UTF-8";
/*Fonts*/
/*Färger*/
/* gräs*/
/*himmel*/
/*snö*/
/*berg*/
/*berg skugga*/
/*bakgrunds färg till boxar där man kan ställa in saker*/
/*knapp färg för ja, gå vidare, positivt*/
/*knapp färg för nej, avbryt*/
/*färg för allmän text*/
/*Ämnes färger*/
/*ska centrera allt i den*/
.page_container {
  display: flex;
  justify-content: center;
  /*när saker ska vara i en kollumn*/
  /*för varje box*/
}

.page_container .page_collum_container {
  flex-direction: column;
  align-content: space-evenly;
}

/*när man vill att en box ska vara på en sida */
.two_box_conatiner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.two_box_conatiner .left_box {
  justify-self: flex-start;
}

.two_box_conatiner .right_box {
  justify-self: flex-end;
}

/* när två knappar*/
.button_container_two {
  display: flex;
  align-content: space-evenly;
}

body {
  font: 100% Futura;
}
